* {
    box-sizing: border-box;
}

body {
    background-color: #0e1e51;
    color: #f7f7f7;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding: 3% 20%;
}

h1{
  font-weight:900;
  font-size:80px
}

h2{
  margin-top:70px;
}


.left, .right{
  width:45%;
  padding-top:0;
}

.education-info{
  margin-horizontal:0;


.fish{
  font-size:200px;
  margin:-100px 0 100px 600px;
}

.school-name{
  font-weight:600;
  margin-horizontal:0;
  padding-bottom:0;
}



/*
.photo{
  display:inline;
  height:200px;
  margin:-180px 0 0 700px;
}--?/
*

*/
