* {
    box-sizing: border-box;
}

body {
    background-color: #0e1e51;
    color: #f7f7f7;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding: 3% 20%;
}

h2{
  margin-top:40px;
}

.photo{
  display:inline;
  height:200px;
  margin:-150px 0 0 700px;
}
