* {
    box-sizing: border-box;
}

body {
    background-color: #0e1e51;
    color: #f7f7f7;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding: 3% 20%;
}

h1{
  font-weight:900;
  font-size:80px
}

h2{
  margin-topï¼š70px;  
}

.left, .right{
  display:inline-block;
  width:45%;
}

.right{
  padding-left:10%;
}

.container {
  grid-template-columns: 45% 45%;
  grid-template-rows: 1;
}

.fish{
  font-size:200px;
  margin:-100px 0 100px 600px;
}

.important{
  font-weight:600;
}

.secondary{
  color:#e0e0e0;
  font-weight:300;
  margin-top:0;
}
